{% extends 'base.html' %}
<!-- {% load static %} -->
{% block content %}
{% if music_list %}
    <!-- <ul>
        {% for music in music_list %}
            <li><a href="{% url 'music:detail' music.id %}">{{ music.title }}</a></li>
        {% endfor %}
    </ul> -->
    <!-- <div class="list-group">
        {% for music in music_list %}
            <a href="{% url 'music:detail' music.id %}" class="list-group-item list-group-item-action" aria-current="true">{{ music.title }}</a>
        {% endfor %}
    </div> -->
    <!-- style="width: 80rem;" -->
    <div class="card-group w-80 p-3">
        {% for music in music_list %}
            <div class="card">
                <img src="/static/thumbnail/{{ music.title }}.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ music.title }}</h5>
                    <p class="card-text">{{ music.singer }}</p>
                    <audio preload="auto" controls loop="loop">
                        <source src="http://localhost:8000/static/audio/{{ music.URL }}.mp3">                        
                    </audio>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>음악이 없습니다.</p>
{% endif %}

<form action="{% url 'music:register_music' %}" method="post">
{% csrf_token %}
<!-- <textarea name="content" id="content" rows="15"></textarea> -->
<!-- <input type="submit" value="음악 등록"> -->
<button class="btn btn-primary" type="submit">음악 등록</button>
</form>
{% endblock %}
